.Rproj.user
.Rhistory
.RData
.Ruserdata
README.html
~$*.doc*
~$*.xls*
~$*.ppt*
*.xlk
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.log
**/figure-latex/*.pdf
**/figure-docx/*.pdf
*.zip
